<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Font from Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- import styles -->
    <link rel="stylesheet" href="/static/index.css">

    <meta charset="UTF-8">

    <title>University Course Search</title> <!-- Title of the page -->
</head>
<body>
    <div class="toolbar">
        <div class="toolbar-content">
            <h1 class="toolbar-title">University Course Search</h1>
            <div class="toolbar-links">
                <a class="link-current">Home</a>
                <a href="/search">Search</a>
            </div>
        </div>
    </div>
    
    <section class="content">
        <p class="favourite-intro">Welcome to the University Course Search Tool. Visit the <a href="/search">search page</a> to find some courses.</p>
    
        <div class="favourite-results" id="results">
            <p><em>Your favourite courses will appear here.</em></p>
        </div>
    </section>

    <!-- import JavaScript -->
    <script src="/static/index.js"></script> 
    <script>
        initHomePage();
    </script>

</body>
</html>
