<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Font from Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- import styles -->
    <link rel="stylesheet" href="/static/index.css">

    <meta charset="UTF-8">

    <title>University Course Search</title>
</head>
<body>
    <h1>University Course Search</h1>

    <h2>Search for Courses</h2>
    <h3>Course Name <input id="search-input"/></h3>
    <h3>Year Abroad <input id="year-abroad-checkbox" type="checkbox"/></h3>

    <br>

    <label for="year-abroad-weight-slider">Year Abroad Weight:</label>
    <input type="range" id="year-abroad-weight-slider" name="year-abroad-weight-slider" min="0" max="100" value="50" oninput="updateYearAbroadWeight(this.value)">
    <span id="year-abroad-weight-value">50</span>

    <br>


    <h3>Course Length <input id="course-length-input"></h3>

    <br>

    <!-- Add range slider -->
    <label for="course-length-weight-slider">Course Length Weight:</label>
    <input type="range" id="course-length-weight-slider" name="course-length-weight-slider" min="0" max="100" value="50" oninput="updateCourseLengthWeight(this.value)">
    <span id="course-length-weight-value">50</span>

    <br>


    <h3>University Type 
        <select id="university-type-dropdown">
            <option value="campus">Campus</option>
            <option value="city">City</option>
            <option value="collegic">Collegic</option>
            <option value="distance">Distance</option>
        </select>
    </h3>

    <br>

    <label for="university-type-weight-slider">University Type Weight:</label>
    <input type="range" id="university-type-weight-slider" name="university-type-weight-slider" min="0" max="100" value="50" oninput="updateUniversityTypeWeight(this.value)">
    <span id="university-type-weight-value">50</span>

    <br>

    <h3>Postcode <input id="postcode-input"/></h3>
    <h3>Preferred Distance (km)
        <select id="distance-dropdown">
            <option value="none"></option>
            <option value="more than 500">More than 500</option>
            <option value="400-500">400-500</option>
            <option value="300-400">300-400</option>
            <option value="200-300">200-300</option>
            <option value="100-200">100-200</option>
            <option value="less than 100">Less than 100</option>
        </select>
    </h3>

    <br>

    <label for="distance-weight-slider">Distance Weight:</label>
    <input type="range" id="distance-weight-slider" name="distance-weight-slider" min="0" max="100" value="50" oninput="updateDistanceWeight(this.value)">
    <span id="distance-weight-value">50</span>

    <br>



    <h3>A-Level Grades</h3>
    <!-- Keep the select elements, remove the hardcoded options -->
    <select id="subject-dropdown1"></select>
    <select id="grade-dropdown1"></select>
    <br>
    <select id="subject-dropdown2"></select>
    <select id="grade-dropdown2"></select>
    <br>
    <select id="subject-dropdown3"></select>
    <select id="grade-dropdown3"></select>
    <br>
    <select id="subject-dropdown4"></select>
    <select id="grade-dropdown4"></select>
    <br>

    <br>

    <label for="tariff-weight-slider">Grades Weight:</label>
    <input type="range" id="tariff-weight-slider" name="tariff-weight-slider" min="0" max="100" value="50" oninput="updateTariffWeight(this.value)">
    <span id="tariff-weight-value">50</span>

    <br>



    
    <button id="search-button">Search</button>

    <h2>Results</h2>

    <img id="spinner" class="spinner" src="/static/assets/spinner.gif" alt="loading" />

    <div id="results">
        <!-- Results will be displayed here -->
    
    </div>

    <!-- import JavaScript -->
    <script src="/static/index.js"></script>

</body>
</html>
