<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Font from Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- import styles -->
    <link rel="stylesheet" href="/static/index.css">

    <meta charset="UTF-8">

    <title>Ed's Page</title>
</head>
<body>
    <h1>Ed's example page</h1>

    <h2>Search</h2>

    <input id="search-input"/>

    <button id="search-button">Search</button>

    <h2>Results</h2>

    <div id="results">
        <!-- Results will be displayed here -->
    </div>

    <!-- import JavaScript -->
    <script src="/static/index.js"></script>

</body>
</html>
