<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Font from Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- import styles -->
    <link rel="stylesheet" href="/static/index.css">

    <meta charset="UTF-8">

    <title>University Course Search</title> <!-- Title of the page -->
</head>
<body>
    <div class="toolbar">
        <div class="toolbar-content">
            <h1 class="toolbar-title">University Course Search</h1>
            <div class="toolbar-links">
                <a href="/">Home</a>
                <a class="link-current">Search</a>
            </div>
        </div>
    </div>

    <section class="content">
        <p class="search-intro"> Please use this form to search for university courses. You can adjust the weight of each category to change how much it affects the score. </p>

        <div class="search-field">
            <label for="search-input">Course Name:</label>
            <input class="text-input" name="search-input" id="search-input"/>
        </div>
        
        <div class="search-field">
            <label for="year-abroad-checkbox name="year-abroad-checkbox">Year Abroad:</label> 
            <input class="checkbox" id="year-abroad-checkbox" type="checkbox"/>
        </div>    

        <div class="search-field">
            <label for="year-abroad-weight-slider">Year Abroad Weight:</label>
            <span class="range-slider">
                <input type="range" id="year-abroad-weight-slider" name="year-abroad-weight-slider" min="0" max="100" value="50" oninput="updateYearAbroadWeight(this.value)"> <!-- Add range slider for year abroad weight -->
                <span id="year-abroad-weight-value">50</span>
            </span>    
        </div>    

        <div class ="search-field">
            <label for="course-length-input">Course Length:</label>
            <input class="text-input name="course-length-input" id="course-length-input"/>
        </div>


        <div class="search-field">
            <label for="course-length-weight-slider">Course Length Weight:</label>
            <span class="range-slider">
            <input type="range" id="course-length-weight-slider" name="course-length-weight-slider" min="0" max="100" value="50" oninput="updateCourseLengthWeight(this.value)">
            <span id="course-length-weight-value">50</span>
            </span>
        </div>

        <div class="search-field">
            <label for university-type-dropdown>University Type:</label>
            <select id="university-type-dropdown" class="dropdown">
                <option value="campus">Campus</option>
                <option value="city">City</option>
                <option value="collegic">Collegic</option>
                <option value="distance">Distance</option>
            </select>
        </div>


        <div class="search-field">
            <label for="university-type-weight-slider">University Type Weight:</label> <!-- Add label for range slider for university type weight -->
            <span class="range-slider">
            <input type="range" id="university-type-weight-slider" name="university-type-weight-slider" min="0" max="100" value="50" oninput="updateUniversityTypeWeight(this.value)"> <!-- Add range slider for university type weight -->
            <span id="university-type-weight-value">50</span> <!-- Add span to display the value of the range slider default value is 50 -->
            </span>
        </div>
        

        <div class="search-field">
            <label for="postcode-input">Postcode:</label>
            <input class="text-input" id="postcode-input"/>
        </div>


        <div class ="search-field">
            <label for="distance-dropdown">Preferred Distance (km):</label>
            <select id="distance-dropdown">
                <option value="none"></option>
                <option value="more than 500">More than 500</option>
                <option value="400-500">400-500</option>
                <option value="300-400">300-400</option>
                <option value="200-300">200-300</option>
                <option value="100-200">100-200</option>
                <option value="less than 100">Less than 100</option>
            </select>
        </div>






        <div class="search-field">
            <label for="distance-weight-slider">Distance Weight:</label> <!-- Add label for range slider for distance weight -->
            <span class="range-slider">
                <input type="range" id="distance-weight-slider" name="distance-weight-slider" min="0" max="100" value="50" oninput="updateDistanceWeight(this.value)"> <!-- Add range slider for distance weight -->
                <span id="distance-weight-value">50</span> <!-- Add span to display the value of the range slider default value is 50 -->
            </span>
        </div>


        <h3>A-Level Grades:</h3>  <!-- Add dropdowns for A-Level grades -->
        <p>Please enter your predicted grades for either 3 or 4 subjects.</p>
   
        <div class="search-field">
            <select id="subject-dropdown1"></select>  <!-- Select element for an A-Level subject -->
            <select id="grade-dropdown1"></select>
        </div>

        
        <div class="search-field">
            <select id="subject-dropdown2"></select>
            <select id="grade-dropdown2"></select>
        </div>

        <div class="search-field">
            <select id="subject-dropdown3"></select>
            <select id="grade-dropdown3"></select>
        </div>

        <div class="search-field">
            <select id="subject-dropdown4"></select>
            <select id="grade-dropdown4"></select>
        </div>



        <div class="search-field">
            <label for="tariff-weight-slider">Grades Weight:</label> <!-- Add label for range slider for grades weight -->
            <span class="range-slider">
                <input type="range" id="tariff-weight-slider" name="tariff-weight-slider" min="0" max="100" value="50" oninput="updateTariffWeight(this.value)"> <!-- Add range slider for grades weight -->
                <span id="tariff-weight-value">50</span> <!-- Add span to display the value of the range slider default value is 50 -->
            </span>
        </div>

   



        
        <button id="search-button" class="search-button">Search</button> <!-- Add search button -->
        <button id="reset-button" class="reset-button">Reset</button> <!-- Add reset button -->
        <br>

        <h3>Results:</h3>
        
        <br>

        <img id="spinner" class="spinner" src="/static/assets/spinner.gif" alt="loading" /> <!-- Add spinner gif that plays whilst searching-->
        
        <div id="results">
            <!-- Results will be displayed here -->
        
        </div>
    </section>

    <!-- import JavaScript -->
    <script src="/static/index.js"></script> 
    <script>
        initSearchPage();
    </script>

</body>
</html>
